.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid #ccc;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.logout-icon {
    font-size: 35px;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

.header h1 {
    flex-grow: 1;
    text-align: left;
    margin-left: 250px;
    color: black;
    font-size: 24px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.logout-link {
    text-decoration: none;
}

.logout:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.header .logout:hover {
    background-color: #e53935;
}