.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    /* subtle bottom border */
    border-bottom: 2px solid #ccc;
    z-index: 1;
}

.logo {
    height: 50px;
    /* Adjust size as needed */
    margin-right: 20px;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    color: black;
    /* Adjust color as needed */
    font-size: 24px;
    /* Adjust size as needed */
}

.header-controls button {
    background: none;
    border: none;
    font-size: 24px;
    /* Adjust size as needed */
    cursor: pointer;
}

.header .logout {
    margin-left: auto;
    /* Pushes the button to the far right */
    padding: 10px 20px;
    /* Adequate padding for button size */
    background-color: #f44336;
    /* Red background for visibility */
    color: white;
    /* White text */
    border: none;
    /* No border */
    cursor: pointer;
    /* Pointer on hover */
    font-size: 16px;
    /* Appropriate font size */
    border-radius: 5px;
    /* Rounded corners for a nicer look */
    
    
}

/* Adding hover effect for better user interaction */
.header .logout:hover {
    background-color: #e53935;
    /* Slightly darker shade on hover */
}
