.login-page {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-title {
    padding: 10px;
    padding: 10px;
}

.text-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 350px;
}

.textbox {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 320px;
}

.login-txt {
    margin-top: 10px;
}

.login-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(45deg, #ec645d, #724cdc);
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    /* Remove underline from link */
    display: inline-block;
    min-width: 100%;
    /* Ensure the button has the correct display */
}

.login-btn:hover {
    background: linear-gradient(45deg, #ec5dbc, #4cdc6b);
}

.signup-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    padding: 0;
    /* Remove padding */
    /* Remove margin */
}

.signup-btn:hover {
    color: #0056b3;
    text-decoration: none;
    /* Remove underline on hover */
}
