.recipe-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding-left: 10%;
    margin-bottom: 2%;
}

.recipe-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-left: 10%;
}

.recipe-name {
    flex-grow: 1;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.backarrow {
    flex-shrink: 0;
}

.back-arrow-icon {
    font-size: 2rem;
    color: #600a71;
}

.back-arrow-icon:hover {
    color: rgb(182, 25, 202);
}

.recipe-creator {
    width: 100%;
    text-align: center;
    margin-top: 0%;
}

.save-button {
    flex-shrink: 0;
    width: 100px;
    /* Fixed width */
    margin-right: 16%;
    border-radius: 8px;
    border-style: solid;
    font-size: medium;
    border-color: black;
    text-align: center;
    /* Center text inside button */
}

.save {
    background-color: white;
}

.unsave {
    background-color: lightblue;
}

.divider {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.divider-end {
    width: 5%;
}

.divider-border {
    width: 90%;
    border-bottom: 1px solid black;
}

.recipe-ingredient-table,
.recipe-cookware-table {
    padding-left: 1%;
    width: 100%;
}

.recipe-pair-name,
.recipe-pair-quantity {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-page {
    display: flex;
    width: 97%;
    height: 90%;
    margin: 0%;
    flex-direction: column;
    align-items: left;
    overflow-y: auto;
    position: relative;
}

.details {
    font-size: 20px;
}

.ingr-cook-needed {
    display: flex;
    margin-left: 10%;
}

.instructions {
    display: flex;
    margin-left: 10%;
}
