.recipes-container {
    width: 100%;
    min-height: none;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 5rem;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.scrollable-container {
    overflow-y: auto;
    margin-top: 20px;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-card {
    position: relative;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
}

.recipe-card.selected {
    background-color: lightblue;
}

.dropdown-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown-icon {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.dropdown-menu button:hover {
    background-color: #f4f4f4;
}

.add-recipe-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.delete-recipe-btn:hover {
    background-color: #ba0707;
}

.delete-recipe-btn {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.add-recipe-btn:hover {
    background-color: #0056b3;
}

.button-options {
    margin-left: 45rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}