.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textbox {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 320px;
}

.show-password-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
